.size{
    height: 200px;
    width: 200px;
}
.Banner_Vector{
    margin-top: -12rem;
    margin-left: -8rem;
    height: 800px;
    width: 800px;
}
.call{
    height: 350px;
    width: 350px;
}
.payment{
    height: 350px;
    width: 350px;
}
.journey{
    height: 450px;
    width: 450px;
}
.Preamble{
    height: 450px;
    width: 450px;
}

@media (max-width: 400px) {
    .Banner_Vector{
        margin-top: -6rem;
        margin-left: -10rem;
        height: 500px;
        width: 500px;
        text-align: center;
    }
    .size{
        height: 100px;
        width: 100px;
    }
    .journey{
        height: 350px;
        width: 350px;
    }
}