.size{
    height: 200px;
    width: 200px;
}
.Banner_Vector{
    height: 600px;
    width: 600px;
}

@media (max-width: 400px) {
    .Banner_Vector{
        height: 300px;
        width: 300px;
        text-align: center;
    }
    .size{
        height: 100px;
        width: 100px;
    }
}